@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.urbanest-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body{
  width: 100%;
}
.product{
  width: 50vw;
  margin: auto;
  margin-top: 20px;
}

.dash{
  box-shadow: 0 3px 2px rgba(0, 0, 0.25, 0.5);
  /* padding: 10px 4px 0px 3px; */
  border-radius: 3px;
}
.dash:hover{
   box-shadow: -0 10px 5px rgba(0, 0, 1, 0.5);
  /* padding: 10px 4px 0px 3px; */
  border-radius: 3px;
}